<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="class">
    <insert id="create" parameterType="demo.model.Class" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_examination.class VALUES(NULL, #{name}, #{schedule}, #{startDate}, #{finishDate})
    </insert>
    <select id="queryAll" resultType="demo.model.Class">
        SELECT * FROM db_examination.class
    </select>
</mapper>