<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teacher">
    <select id="login" parameterType="String" resultType="demo.model.Teacher">
        SELECT * FROM db_examination.teacher WHERE email = #{email}
    </select>
</mapper>