* {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.fix {
    table-layout: fixed;
    width: 100%;
}

.preview {
    /*display: none;*/
}

#question_hint {
    display: none;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:hover {
    cursor: pointer;
}