* {
    margin: 0;
    padding: 0;
}

.fix {
    table-layout: fixed;
    width: 100%;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:hover {
    cursor: pointer;
}