<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
    <select id="login" parameterType="String" resultType="admin">
        SELECT * FROM db_examination.admin WHERE email = #{email}
    </select>
    <insert id="createAssistant" parameterType="demo.model.Assistant" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_examination.assistant VALUES(NULL, #{email}, #{username}, #{password})
    </insert>
    <insert id="createTeacher" parameterType="demo.model.Teacher" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_examination.teacher VALUES(NULL, #{email}, #{username}, #{password})
    </insert>
</mapper>