<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="classpaper">
    <select id="list" resultType="classpaper">
        SELECT *
        FROM db_examination.class_paper
        ORDER BY id
    </select>
    <select id="search" resultType="classpaper">
        SELECT *
        FROM db_examination.class_paper
        WHERE id = #{id}
    </select>
    <update id="modify">
        UPDATE db_examination.class_paper
        SET
            classId     = #{classId},
            paperId     = #{paperId},
            time        = #{time},
            assistantId = #{assistantId}
        WHERE id = #{id}
    </update>
    <delete id="remove">
        DELETE FROM db_examination.class_paper
        WHERE id = #{id}
    </delete>
    <insert id="create" parameterType="classpaper" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_examination.class_paper (
            classId,
            paperId,
            time,
            assistantId
        )
        VALUES (
            #{classId},
            #{paperId},
            #{time},
            #{assistantId}
        );
    </insert>
    <resultMap id="query_map" type="classpaper">
        <id property="id" column="id"/>
        <result property="time" column="time"/>
        <association property="clazz" javaType="class">
            <result property="title" column="title"/>
        </association>
        <association property="paper" javaType="paper">
            <association property="course" javaType="course">
                <result property="title" column="course_title"/>
            </association>
        </association>
    </resultMap>
    <select id="query" resultMap="query_map">
        SELECT
            c1.title,
            c2.title AS course_title,
            cp.time
        FROM db_examination.class c1 INNER JOIN db_examination.paper p
            INNER JOIN db_examination.class_paper cp
            INNER JOIN db_examination.course c2
                ON c1.id = cp.classId AND p.id = cp.paperId AND c2.id = p.courseId
        ORDER BY cp.time;
    </select>
    <resultMap id="student_query_map" type="classpaper">
        <result property="time" column="time"/>
        <association property="paper" javaType="paper">
            <id property="id" column="id"/>
            <association property="course" javaType="course">
                <result property="title" column="title"/>
            </association>
        </association>
    </resultMap>
    <select id="student_query" resultMap="student_query_map">
        SELECT
            p.id,
            c2.title,
            cp.time
        FROM db_examination.student s INNER JOIN db_examination.class c1
            INNER JOIN db_examination.class_paper cp
            INNER JOIN db_examination.paper p
            INNER JOIN db_examination.course c2
                ON s.classId = c1.id AND c1.id = cp.classId AND cp.paperId = p.id AND p.courseId = c2.id
        WHERE now() > cp.time AND date_add(cp.time, INTERVAL p.time MINUTE) > now()
        /*
            <![CDATA[ < ]]> or &lt;
            <![CDATA[ & ]]> or &amp;
        */
    </select>
</mapper>