<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="course">
    <select id="list" resultType="course">
        SELECT *
        FROM db_examination.course
        ORDER BY id
    </select>
    <select id="search" resultType="course">
        SELECT *
        FROM db_examination.course
        WHERE id = #{id}
    </select>
    <update id="modify">
        UPDATE db_examination.course
        SET
            title = #{title}
        WHERE id = #{id}
    </update>
    <delete id="remove">
        DELETE FROM db_examination.course
        WHERE id = #{id}
    </delete>
    <insert id="create" parameterType="course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_examination.course (
            title
        )
        VALUES (
            #{title}
        );
    </insert>
    <resultMap id="query_map" type="course">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <collection property="papers" ofType="paper">
            <id property="id" column="id_paper"/>
            <result property="time" column="time"/>
            <result property="courseId" column="courseId"/>
            <result property="teacherId" column="teacherId"/>
        </collection>
    </resultMap>
    <select id="query" parameterType="int" resultMap="query_map">
        SELECT
            c.id,
            c.title,
            p.id AS id_paper,
            p.time,
            p.courseId,
            p.teacherId
        FROM db_examination.course c LEFT OUTER JOIN db_examination.paper p
                ON c.id = p.courseId AND p.teacherId = #{id}
        ORDER BY 1
    </select>
</mapper>