<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teacher">
    <insert id="create" parameterType="teacher" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_examination.teacher VALUES (NULL, #{email}, #{username}, #{password})
    </insert>
    <select id="login" parameterType="String" resultType="teacher">
        SELECT *
        FROM db_examination.teacher
        WHERE email = #{email}
    </select>
    <resultMap id="queryClassPaper_map" type="classpaper">
        <association property="clazz" javaType="class">
            <id property="id" column="id"/>
            <result property="title" column="title"/>
        </association>
        <association property="paper" javaType="paper">
            <id property="id" column="id_paper"/>
            <association property="course" javaType="course">
                <id property="id" column="id_course"/>
                <result property="title" column="title_course"/>
            </association>
        </association>
    </resultMap>
    <select id="queryClassPaper" resultMap="queryClassPaper_map">
        SELECT
            c1.id,
            c1.title,
            p.id,
            c2.id AS id_course,
            c2.title AS title_course
        FROM db_examination.class_paper cp INNER JOIN db_examination.class c1
            INNER JOIN db_examination.paper p
            INNER JOIN db_examination.course c2
                ON cp.classId = c1.id AND cp.paperId = p.id AND p.courseId = c2.id
        WHERE status = 2 -- 考试完成
    </select>
    <resultMap id="student_course_map" type="student">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <association property="clazz" javaType="class">
            <result property="title" column="title"/>
        </association>
        <collection property="studentCourses" ofType="studentcourse">
            <result property="grade" column="grade"/>
            <association property="course" javaType="course">
                <result property="title" column="title_course"/>
            </association>
        </collection>
    </resultMap>
    <select id="student_course" resultMap="student_course_map" parameterType="hashmap">
        SELECT
            c1.title,
            c2.title AS title_course,
            s.id,
            s.username,
            sc.grade
        FROM db_examination.student s INNER JOIN db_examination.class c1
            INNER JOIN db_examination.course c2
            LEFT JOIN db_examination.student_course sc
                ON s.id = sc.studentId AND c2.id = sc.courseId AND s.classId = c1.id
        WHERE c1.id = #{classId} AND c2.id = #{courseId};
    </select>
</mapper>